[submodule "iiwa_robotiq"]
	path = iiwa_robotiq
	url = https://github.com/h2r/iiwa_robotiq.git
[submodule "iiwa_stack"]
	path = iiwa_stack
	url = https://github.com/IFL-CAMP/iiwa_stack.git
[submodule "kuka_cam"]
	path = kuka_cam
	url = https://github.com/h2r/kuka_cam.git
[submodule "realsense"]
	path = realsense
	url = https://github.com/intel-ros/realsense.git
[submodule "robotiq"]
	path = robotiq
	url = https://github.com/ros-industrial/robotiq.git
[submodule "kuka_calib"]
	path = kuka_calib
	url = https://github.com/h2r/kuka_calib
[submodule "lcsr_tf_tools"]
	path = lcsr_tf_tools
	url = https://github.com/jhu-lcsr/lcsr_tf_tools.git
[submodule "kalibr"]
	path = kalibr
	url = https://github.com/h2r/kalibr

[submodule "ompl"]
	path = ompl
	url = https://github.com/h2r/ompl.git
[submodule "fcl_catkin"]
	path = fcl_catkin
	url = https://github.com/h2r/fcl_catkin.git
[submodule "moveit"]
	path = moveit
	url = https://github.com/h2r/moveit.git
